<div class="sns">
    {% if site.linkedin %}
        <a data-title="linkedin.com/in/{{ site.linkedin }}" href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank"><img 
            src="{{ site.url }}/assets/linkedin.svg" class="sns-svg hvr-float-shadow"></a>
    {% endif %}

    {% if site.github %}
        <a data-title="{{ site.github }}.github.io" href="https://github.com/{{ site.github }}" target="_blank"><img 
            src="{{ site.url }}/assets/github.svg" class="sns-svg hvr-float-shadow"></a>
    {% endif %}
</div>
