---
layout: default
---
<div class="home-header-container">
        <img src="{{ site.url }}/{{ site.bg-img }}" style="width:100%;opacity: 0.9;">
        <div class="home-header">
            <h1 class="name">{{ site.name }}</h1>
            {% include sns.html %}
        </div>
</div>
<div class="projects">

    <div class="container">    
      <div class="row">
     
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 style="margin-top: 15px;">Projects</h1> 
            <hr>
            {% assign sortedPosts = site.projects | sort: 'id' | reverse %}
            {% for p in sortedPosts %}
            <div class="project">
                <img class="dot" src="{{ site.url }}/assets/dot.jpg">
                <div class="project-details">
                  <a class="project-title" href="{{ p.purl }}">{{ p.title }}</a>
                  <p>{{ p.content | markdownify }}</p>
                </div>
                <hr>
            </div>
          {% endfor %}
        </div>
      </div>
        
    </div>
    

</div>

{{ content }}